<link rel="stylesheet" type="text/css" href="/css/show_song.css">	

<% released_on = @song.released_on.strftime("%Y").to_s %>
<% length = (@song.length / 60).to_s + ':' + (@song.length % 60).to_s %>
<% video_link = @song.video_link %>
<% edit_link ="/songs/#{@song.id}/edit"%>

<div class="song">
	<div class="container">
		<h1><%= @song.title %></h1>
		<h3><%= "by " + @song.artist  +  ' (' + released_on + ')' %></h3>
		<h5>Length: <%= length %></h5>
		<a class="btn btn-link" href="<%= video_link %>">YouTube Video</a>
		<pre><%= @song.lyrics %></pre>

		<a class="btn btn-primary edit-link" href= <%= edit_link %> >Edit</a>

		<form class="hidden-form" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<input class="btn btn-danger" type="submit" value="Delete">
		</form>

		<a class="btn btn-link back-link" href="/songs">Back to songs</a>
	</div>
</div>
